# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/~
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# redactor
/.idea
dumps


# assets
/public/media/bg
/public/media/books
/public/media/demos
/public/media/client*
/public/media/products
/public/media/logos copy
/public/media/stock-*
/public/media/project*
/public/media/plugins
/public/media/users
/public/media/svg
/src/_aks/_assets/plugins/keenthemes-icons

# production
/_site
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package.json.lock